<ng-container [formGroup]="parentFormGroup">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6" formGroupName="address">
    <div class="form-item flex flex-col gap-1">
      <label>{{ "STREET/FLAT/COLONY" | translate }}</label>
      <app-form-field>
        <input
          appErrorHint
          formControlName="street"
          class="form-input border h-12 rounded w-full px-5 form-control"
          placeholder="Enter email/phone"
        />
      </app-form-field>
    </div>
    <div class="form-item flex flex-col gap-1">
      <label>{{ "LANDMARK" | translate }}}}</label>
      <app-form-field>
        <input
          appErrorHint
          formControlName="landmark"
          class="form-input border h-12 rounded w-full px-5 form-control"
          placeholder="Enter email/phone"
        />
      </app-form-field>
    </div>
    <div class="form-item flex flex-col gap-1">
      <label>{{ "PINCODE" | translate }}</label>
      <app-form-field>
        <input
          appErrorHint
          formControlName="pincode"
          class="form-input border h-12 rounded w-full px-5 form-control"
          placeholder="Enter email/phone"
        />
      </app-form-field>
    </div>
  </div>
</ng-container>
