@import "app/styles/material/theme.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* You can add global styles to this file, and also import other style files */
@layer base {
  .linear-gradient-1 {
    background: linear-gradient(to top, #906cf5, #e159a2);
  }
  .linear-gradient-2 {
    background: linear-gradient(109.08deg, #4568dc 0%, #b06ab3 98.01%);
  }
  .linear-gradient-3 {
    background: linear-gradient(109.08deg, #23e1b4 0%, #088e6e 98.01%);
  }
  .linear-gradient-4 {
    background: linear-gradient(109.08deg, #36d1dc 0%, #5b86e5 98.01%);
  }
  .linear-gradient-5 {
    background: linear-gradient(109.08deg, #a4d0d8 0%, #4ca1af 98.01%);
  }
  .form-input {
    &:focus {
      outline-color: #5b86e5;
    }
    &.ng-invalid.ng-touched {
      outline-color: red !important;
      border-color: red;
    }
  }
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@font-face {
  font-family: "comic-neue";
  src: url("./assets/font/ComicNeue-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url("./assets/font/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "lato";
  src: url("./assets/font/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "source";
  src: url("./assets/font/SourceSansPro-Regular.ttf") format("truetype");
}
